.page {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 28px 0 24px 0;
    font-family: 'Inter', Arial, sans-serif;
    color: #ffffff;
    font-weight: 400;
    background-color: #2A2C2F;
    align-items: center;
}

@media screen and (max-width: 568px) {
    .page {
        padding-top: 16px;
    }
}