.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px 0;
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 1140px) {
  .places {
    width: 90.625%;
  }
}

@media screen and (max-width: 984px) {
  .places {
    width: 93.75%;
    gap: 73px 0;
  }
}

@media screen and (max-width: 568px) {
  .places {
    width: 100%;
    gap: 50px 0;
  }
}