.lead {
    max-width: 984px;
    max-height: 1005px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    }

@media screen and (max-width: 1140px) {
    .lead {
        width: 90.625%;
        }
      }
      

@media screen and (max-width: 568px) {
    .lead {
        width: 100%;
        }
      }
      