.header {
    /* height: 100vh; */
    /* min-height: 42px; */
    max-height: 52px;
    max-width: 1184px;
    display: flex;
    /* position: relative; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f2f2f2; */
    /* z-index: 1; */
    /* overflow: hidden; */
    align-items: center;
  }
  