.place__paragraphs {
  display: flex;
  flex-direction: column;
  margin: 0%;
  gap: 26px 0;
  width: 100%;
}

@media screen and (max-width: 984px) {
  .place__paragraphs {
    gap: 25px 0;
  }
}

@media screen and (max-width: 568px) {
  .place__paragraphs {
    align-items: center;
    max-width: 288px;
  }
}