.place {
    display: grid;
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
    margin: 0;
    width: 100%;
  }

  @media screen and (max-width: 1140px) {
    .place {
        grid-template-columns: 55fr 57fr;
        gap: 48px 32px;
      }
  }
  
  @media screen and (max-width: 984px) {
    .place {
        grid-template-columns: 85fr 88fr;
        gap: 48px 28px;
      }
  }
  
  @media screen and (max-width: 568px) {
    .place {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 32px 0;
      }
  } 
